@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

.container {
    background: #2B3467;
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 1.5rem auto;
    border-radius: 10px;
}

.weather_header {
    background: #2B3467;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #1e1e1e;
    color: #fff;
    outline: none;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: #fff;
}

.weather_search {
    position: relative;
    background: #2B3467;
}

.weather_search i{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather_units {
    background: #2B3467;
    font: 1.5rem;
    display: inline-block;
    margin-left: 1.5rem;
}

.weather_units span {
    cursor: pointer;
    background: #2B3467;
}

.weather_units span:first-child {
    margin-right: 0.5rem;
}

.weather_city {
    background: #2B3467;
}

.weather_body {
    background: #2B3467;
    text-align: center;
    margin-top: 3rem;
}

.weather_datetime {
    background: #2B3467;
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather_forecast {
    background: #2B3467;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.weather_forecast p {
    background: #2B3467;
}

.weather_icon {
    background: #2B3467;
}

.weather_icon img {
    background: #2B3467;
    width: 100px;
}

.weather_temperature {
    background: #2B3467;
    font-size: 1.75rem;
}

.weather_minmax {
    background: #2B3467;
    display: flex;
    justify-content: center;
}

.weather_minmax p {
    background: #2B3467;
    font-size: 14px;
    margin: 0.5rem;
}

.weather_info {
    background: #2B3467;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather_card {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
}

.weather_card i {
    background: #1e1e1e;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather_card p {
    background: #1e1e1e;
    font-size: 14px;
}